@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax-header {
    background-image: url("/storage/assets/parallaxe/hybrid-storytellers-LsoFPIz3_eg-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    position: relative;

    margin-top: 0;
    margin-bottom: auto;
    padding-top: 0;

    min-height: 40vh;
}

.parallax-header::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.15); /* très léger */
}
